:root {
  --primary-color: #0D5E1F;
  --secondary-color: #4A8657;
  --tertiary-color: #A4C3AB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--primary-color);
  display: flex;
  padding: 15px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-size: 42px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var( --tertiary-color);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 24px;
}

.hero {
  background-image: url("../images/hero-image-altamountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  display: inline-block;
  padding: 15px;
  margin: 20 auto;
}

.hero-text h2 {
  color: #fff;
  position: absolute;
  font-size: 30px;
  border-bottom: #4A8657 solid 3px;
  text-align: right;
  right: 60px;
  bottom: 40px;
}

/*about section styling*/
.bio-info {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bio-content {
  margin: 20px;
  flex-wrap: wrap;
}

.bio img {
  height: 275px;
  width: 200px;
  border: var(--tertiary-color) solid 4px;
}

.bio-content p {
  font-size: 18px;
  color: var(--primary-color);
  padding: 5px;
  border: var(--tertiary-color) solid 4px;
  width: 100%;
  height: 275px;
  line-height: 1.7;
  text-align: center;
  overflow: scroll;
}

/*example work styling*/
.work-examples {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start
}

.example-text h3 {
  color: var(--primary-color);
  font-size: 18px;
  padding-bottom: 5px;
}

.example-text p {
  font-size: 14px;
  font-weight: lighter;
  color: var(--secondary-color)
}

.example-text {
  background-color: var(--tertiary-color);
  text-align: center;
  line-height: 1.2;
  width: 25%;
  margin-left: 20px;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 55%;
}

.example-img1, .example-img {
  position: relative;
  display: inline-block;
}

.example-img1 img {
  height: 400px;
  width: 600px;
  border: var(--tertiary-color) 6px solid;
  margin: 20px;
}

.example-img img {
  height: 300px;
  width: 500px;
  border: var(--tertiary-color) 6px solid;
  margin: 20px;
}

/* contact info styling*/ 
.contact-info ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.contact-info li {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 25px;
  margin: 20px;
}

/*utility classes for styling*/

.section-title {
  color:var(--secondary-color);
  font-size: 36px;
  text-align: left;
  padding: 20px;
  margin: 10px auto;
  position:relative;
}



/*media query for screens smaller than 980px*/
@media screen and (max-width: 980px) {

  header {
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

}

/*media query for tablets between 768px and 575px*/
@media screen and (max-width: 768px) {
  
  header h1 {
    width: 80%;
    font-size: 30px;
  }

  .section-title {
    font-size: 30px;
    padding: 10px;
    margin: 5px auto;
    width: 75%;
  }
}


/*media query for mobile phones and screen smaller than 575px */
@media screen and (max-width: 575px) {

  .hero {
    width: 100%;
  }
  .hero-text {
    margin: 5px;
  }

  .hero-text h2 {
    width: 80%;
    text-align: center;
    font-size: 26px;
    padding: 5px;
  }

  .bio-info {
    flex: 0 100%;
    align-content: center;
  }

  .bio-content p {
    font-size: 14px;
  }

  .bio img {
    width: 155px;
  }

  .work-examples {
    flex: 0 100%;
  }

  .example-text {
    text-align: center;
  }

  .example img {
    height: 175px;
    width: 350px;
    margin: 5px;
  }

}
