:root {
  --primary-color: #0D5E1F;
  --secondary-color: #4A8657;
  --tertiary-color: #A4C3AB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--primary-color);
  display: flex;
  padding: 15px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-size: 42px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var( --tertiary-color);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 24px;
}

.hero {
  background-image: url("../images/hero-image-altamountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  display: inline-block;
  padding: 15px;
  margin: 20 auto;
}

.hero-text h2 {
  color: #fff;
  position: absolute;
  font-size: 30px;
  border-bottom: #4A8657 solid 3px;
  text-align: right;
  right: 60px;
  bottom: 40px;
}

.bio-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display:inline-block;
  justify-content: space-between;
}

.bio img {
  height: 250px;
  width: 175px;
  border: var(--tertiary-color) solid 4px;
  margin: 20px;

}
.bio p {
  font-size: 18px;
  color: var(--primary-color);
  padding: 5px;
  margin: 10px 50px 10px 500px;
  border: var(--tertiary-color) solid 4px;
  width: 60%;
  height: 250px;
  right: 10%;
  text-align: left;
  line-height: 1.7;
}

.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  text-align: center;
}
.example-text {
  background-color: var(--tertiary-color);
  text-align: center;
  line-height: 1.2;
  width: 20%;
  padding: 5px;
  margin: 5px;
}
.example h3 {
  color: var(--primary-color);
  font-size: 24px;
  padding: 5px;
  margin: 5px;
}

.example p {
  font-size: 18px;
  font-weight: lighter;
  color: var(--secondary-color)
}

.example-img img {
  height: 300px;
  width: 500px;
  border: var(--tertiary-color) 6px solid;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-title {
  color:var(--secondary-color);
  font-size: 36px;
  text-align: left;
  padding: 20px 30px;
  margin: 10px auto;
}

.flex-row {
  display: flex;
}

.bottom-left {
  position: absolute;
  bottom: 12px;
  left: 20px;
}